  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- App Name -->
      <a class="navbar-brand" href="#">Music Library App</a>
  
      <!-- Navbar Content -->
      <div class="collapse navbar-collapse" id="navbarContent">
        <div class="d-flex justify-content-between w-100">
          <div class="d-none d-lg-block"></div>

          <!-- Search bar -->
          <form class="d-flex mx-auto" style="width: 60%;">
            <input class="form-control flex-grow-1" type="search" placeholder="Search" aria-label="Search">
          </form>

          <!-- Buttons on the right -->
          <div class="navbar-nav">
            <a class="nav-link btn btn-primary mx-1" routerLink="/artists">Artists</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
